<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfZoo.Properties.Settings.EscDirectaDbConnectionString"
            connectionString="Data Source=DESKTOP-1TG5LIR\SQLEXPRESS;Initial Catalog=EscDirectaDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>